<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head-style">
        <link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/standard.css" rel="stylesheet">
        <meta charset="UTF-8">
    </div>
    <title>Title</title>
</head>
<body>
<div th:fragment="body-links">
    <script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
</div>
</body>
</html>